<div id = "bgd">
</div>

<div id = "container">

	<div id="heading">
		<h3>Welcome to...</h3>
		<h1>Image Golf!</h1>
		<h3>All the fun of real golf without the swearing!</h3>
	</div>

	<div id="mainImage">
		<img src = "{{this.mainImage}}">
	</div>

	<div id="score">
	  <h2> Your Score is: {{this.score}} </h2>
	</div>

	<form class = "next_guess" id="next_guess" action="/home" accept-charset="UTF-8" method="post">
	  <p class = "next_guess">
	    <input placeholder="Enter your guess" type="text" name="guess" id="guess_box" value="{{this.name}}"/><br><br>
	    <input type="submit" name="submit" value="Go" id="go"/>
	  </p>
	</form>

	<div id = "previous">
		{{#each images}}
		 	<div id = "prevImages">
		    <img src = "{{this}}">
		  </div>
		{{/each}}
	</div>

</div>

