<h1>Image Golf</h1>
<div class="mainImage">
    <img class="mainImage" src = "{{this.mainImage}}">
</div>

<div class="score">
  <p> {{this.score}} </p>
</div>

<form class="next_guess" id="next_guess" action="/home" accept-charset="UTF-8" method="post">
  <p>
    <input placeholder="Enter your guess" type="text" name="guess" id="next_guess" value="{{this.name}}"/><br><br>
    <input type="submit" name="commit" value="Go"/>
  </p>
</form>

<div>
  {{#each images}}
    <img src = "{{this}}">
  {{/each}}
</div>
