<!DOCTYPE html>
<html>
  <head>
    <title>Image Golf!!</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
<!--     <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'> -->
    <link href='https://fonts.googleapis.com/css?family=Josefin+Sans:400,600' rel='stylesheet' type='text/css'>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
