/** {
  border: solid red 1px;
}*/

#bgd{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image:url("../images/golf_course.jpg");
    background-size: cover;
    opacity:.6;
    z-index: -1;
}

body {
  margin: 0;
  /*font-family:'Kaushan Script', cursive;*/
  font-family: 'Josefin Sans', sans-serif;
}

#heading {
  margin-top: 2%;
  margin-bottom: 2%;
  font-size: 20px;
  display: flex;
}

#title{
  font-size: 5rem;
  width: 33%;
  text-align:center;
}

#h1{
   width: 34%;
}

#h3{
  width: 33%;
  text-align: right;
  padding-top: 3rem;
}

#container {
    width: 90%;
    height:100%;
    margin: auto;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}

#result{

}

#mainImage img{
  margin-left: auto;
	margin-right: auto;
  height: 350px;
  width: 350px;
  max-height: 350px;
  display: block;
  border-radius: 10px;
  border: white solid 10px;
}

#score{
  text-align: center;
  font-size: 2rem;
}

#score h2 {
  margin: 1% 0;
}

#previous {
	display: flex;
	flex-wrap: wrap;
  position: absolute;
  bottom: 7%;
  margin: auto;
  width: 90%;
}

#prevImages {
  width:24.5%;
  text-align: center;
/*  border: 1px solid white;
  border-radius: 25px;*/

}

#prevImages img {
  height: 150px;
  width: 150px;
  margin: 0 1rem;
  border-radius: 100%;
  border: white solid 5px;
}


#guess_box {
  width: 50%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.6;
  border: 5px solid white;
  border-radius: 10px;
}

#go{
  width: 15%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  border: 1px solid #696969;
  border-radius: 25px;
  background: white;
}

#next_guess{
  text-align: center;
}

.next-guess p {
  margin: 0;
}
