
#bgd{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-image:url("../images/golf_course.jpg");
    background-size: cover;
    opacity:.6;
    z-index: -1;
}

body {
  margin: 0;
  font-family:'Kaushan Script', cursive;
}

#heading {
  margin-top: 5%;
  margin-bottom: 4%;
}

#container {
    /*position: absolute;*/
    width: 90%;
    height:100%;
    margin: auto;
    /*padding: 2% 5% 5% 5%;*/
}

#prevImages {
  width:24.5%;
  text-align: center;
  border: 1px solid white;

}

#prevImages img {
	height: 100px;
	width: auto;
	margin: 0 1rem;
}

a {
  color: #00B7FF;
}

h1{
  text-align: center;
}


#mainImage img{
  margin-left: auto;
	margin-right: auto;
  height: 400px;
  width: 400px;
  display: block;
}

#score{
  text-align: center;
}

#previous {
	display: flex;
	flex-wrap: wrap;
  position: absolute;
  bottom: 10%;
  margin: auto;
  width: 90%;
  /*background: "http://www.clipartkid.com/images/44/film-reel-picture-frame-clip-art-at-clker-com-vector-clip-art-online-Z2KYoO-clipart.png";*/

}

#guess_box {
  width: 50%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  opacity: 0.6;
  border: 5px solid white;
  border-radius: 10px;
}

#go{
  width: 15%;
  height: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1rem;
  border-top: 1px solid #fafafa;
  background: #375973;
}

#next_guess{
  text-align: center;
}
